server {
    listen      80;
    server_name {{hostname}};
    root /usr/share/nginx/html;
    client_max_body_size 0;
    # don't show nginx version
    server_tokens off;

    # to move on a specific server block after certbot transformation
    # location / {
    #   rewrite ^(.*) https://$host$1 permanent;
    # }

    location ~ /.well-known {
        # for CA servers
        allow all;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Ssl {{ "on" if setup_ssl == "yes" else "off" }};
        proxy_pass  http://localhost:8000;
    }

    # Will be used to drop the artifact
    location /osgeo4w {
        allow all;
        autoindex on;
    }
}
